.Input {
    display: flex;
    position: fixed;
    box-sizing: border-box;
    width: inherit;
    bottom: 0;
    background-color: cornflowerblue;
    border-top: 2px solid royalblue;
}

#chatInput {
    width: 80%;
    background-color: skyblue;
    margin-right: 2px;
}

#chatButton {
    width: 19%;
    background-color: snow;
}